global
    log                       127.0.0.1 local0 debug
    maxconn                   2048
    tune.ssl.default-dh-param 2048
    tune.bufsize              32768
    tune.maxrewrite           1024

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option httpclose
    option forwardfor       except 127.0.0.0/8
    retries                 0
    timeout http-request    10m
    timeout queue           10m
    timeout connect         10s
    timeout client          10m
    timeout server          10m
    timeout http-keep-alive 2m
    timeout check           20s
    timeout tunnel          1h

frontend global
    bind *:8443 ssl crt /certs/certs.pem alpn http/1.1
    option accept-invalid-http-request
    http-request redirect scheme https unless { ssl_fc }
    http-request set-header X-Forwarded-Port 8443
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Scheme https
